:root {
  --primary: #ffffff;
  --babyblue: #eff6ff;
  --darkblue: #1c398e;
  --text: #4a5565;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to bottom, #eff6ff, #ffffff);
  font-family: "Arimo", sans-serif;
  color: var(--text);
}

/* navBar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

.nav-left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.logo {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.simba {
  font-size: 1.3rem;
  color: var(--darkblue);
}

.nav-right {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.hero {
  margin-top: 100px;
  padding: 4rem 5%;
  margin-bottom: 6rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content p {
  padding: 0 3rem;
}

.photo {
  width: 500px;
  border-radius: 15px;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
}

.layanan {
  padding: 0 5%;
  margin-top: 4rem;
}

.layanan h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.keterangan-layanan {
  text-align: center;
  margin-bottom: 4rem;
}

.pilih-layanan {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.ibu,
.anak {
  text-align: center;
  max-width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 2rem;
}

.ibu {
  margin-right: 20px;
}

.anak {
  margin-left: 20px;
}

.logo-ibu,
.logo-anak {
  color: rgb(27, 102, 168);
  padding: 2rem;
}

.pilih-layanan h3 {
  margin-bottom: 2rem;
}

.point-anak,
.point-ibu {
  align-items: center;
}

.login-admin {
  margin-bottom: 6rem;
}

.button-login-admin {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
}

footer {
  background: #0c3f8a;
  color: white;
  padding: 40px 5%;
  margin-top: 50px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-box {
  width: 30%;
}

.copy {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  opacity: 0.8;
}
